<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div class="background"></div>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>

      <main>
         <h1><%= title %></h1>
       
       
      <%- vehicleHTML %>

<% if (isFavorite) { %>
  <a href="/inv/unfavorite/<%= inv_id %>" class="btn">Remove from Favorites</a>
<% } else { %>
  <a href="/inv/favorite/<%= inv_id %>" class="btn">Add to Favorites</a>
<% } %>

      
      
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
