<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>

      <main>
        <h1>Vehicle Management</h1>

 
        <% if (message && message.length > 0) { %>
          <div class="flash-message"><%= message %></div>
        <% } %>

        <ul class="management-links">
          <li><a href="/inv/add-classification">Add New Classification</a></li>
          <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>
     <h2>Manage Inventory</h2>
      <p>Select a classification from the list below to view inventory items.</p>
     <div id="classificationList">
        <%- classificationSelect %>
      </div>
   <table id="inventoryDisplay"></table>

   <noscript>JavaScript must be enabled to use this page.</noscript>
</main>



      <%- include('../partials/footer') %>
    </div>
 <script src="../../js/inventory.js"></script>
  </body>
</html>